<header class="mb-5 flex justify-between items-center">
    <div>
        <h2 class="text-3xl font-semibold text-gray-800">Dashboard Overview</h2>
        <p class="text-gray-500">Financial insights for</p>
    </div>
    <div class="flex items-center space-x-4">
        <i class="fas fa-bell text-gray-600 text-xl"></i>
        <button type="button" ><i class="fa-solid fa-right-from-bracket text-gray-600 text-xl"></i></button>
        <a href="#">
            <div class="w-10 h-10 bg-gray-300 rounded-full overflow-hidden">
                <img src="/images/boy.png" alt="Profile" class="w-full h-full object-cover" />
            </div>
        </a>
    </div>
</header>